/*
Tudo é BOX dentro do css
E tem o conteúdo da caixa
*/



body{
    background: #e5e5e5;
    color: #25282B;

    text-align: center;

}
button{
    color: #ff5e84;
    border: none;
    
    font-weight: bold; 
    background: none;      
}
.fat{
    background: #ff5e84;
    color: white;
}

#footer a{
    color: #25282B;
    text-decoration: none;
}

.hide{
    display: none;
}