{% extends "layout.html" %} <!--QUando você for ler a página você vai para o layout mas leva com você todo conteudo abaixo-->

{% set bodyId = "page-ideias" %} <!--Criando a variavel bodyId-->

{% block title %} <!--Chamando a variáel title que vem do layout.html-->
    <title>Ideias - Casa Criativa</title>
{% endblock title %}


{% block content %} <!--Chamando a variavel content que vem do -->
       <div id="container">
        <header>
            <a href="/">
                <img src="/logo.png" alt="Logo Casa Criativa" >
            </a>
            <nav>
                <li><a href="/">Inicio</a></li>
                <li><a class="button"href="#"onclick="onOff()">Nova Ideia</a></li>
            </nav>
        </header>
    
        <section id="title">
            <p>Em exibição</p>
            <h1>Ideias</h1>
        </section>
        
        <main>
            <section id="ideas"><!--Criadndo a seção  onde iremos inserir as atividades (ficara ao lado da outra seção)-->
                {%include "all_Ideas.html" %} <!--Chamando o arquivo aa_Ideas.html-->
            </section>
        </main>
    
        <footer>
            Com ❤️ <a href="http://rocketseat.com.br" target="_blanck">Rocketseat</a>
        </footer>
{% endblock %}