<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Ideias - Casa Criativa</title>
    {%include "head.html"%}
</head>
<body id="page-ideias">
    <div id="container">
        <header>
            <a href="/">
                <img src="/logo.png" alt="Logo Casa Criativa" >
            </a>
            <nav>
                <li><a href="/">Inicio</a></li>
                <li><a class="button"href="#"onclick="onOff()">Nova Ideia</a></li>
            </nav>
        </header>
    
        <section id="title">
            <p>Em exibição</p>
            <h1>Ideias</h1>
        </section>
        
        <main>
            <section id="ideas"><!--Criadndo a seção  onde iremos inserir as atividades (ficara ao lado da outra seção)-->
                {%include "all_Ideas.html" %}
            </section>
        </main>
    
        <footer>
            Com ❤️ <a href="http://rocketseat.com.br" target="_blanck">Rocketseat</a>
        </footer>
    </div>


    <!--Modal-->
    {%include "modal.html" %}

    <script src="/scripts.js"></script>
    
</body>
</html>